.shell-wrapper {
  display: flex;
  min-height: 100vh;
}

.shell-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  transition: margin-left 0.32s cubic-bezier(0.4, 0, 0.2, 1);

  &.expanded {
    margin-left: 230px;
  }
}

@media (max-width: 56.25rem) {
  .shell-main {
    margin-left: 64px;

    &.expanded {
      margin-left: 230px;
    }
  }
}
